
@import url('../main/styles.css');





#outer-container-div {




    /* global */

    --global-container-width: 90%;
    --blur-amount: 0.24vw;
    --global-border-radius: 0.73vw;
    --global-main-font-size: 0.78vw;
    --global-gap-between-main-items: 1.46vw; /* this is gap between above and filter panel and table/mobile-container */
    --global-border-width-main: 0.05vw;
    --global-smaller-border-radius: 0.20vw;

    --global-box-shadow-main: 0 4px 12px rgba(0, 0, 0, 0.5);


    --outer-container-div-margin-bottom: 80px;


    /* upgrade box */
    --padding-top-box-so-upgrade-button-is-in-middle: calc(var(--global-gap-between-main-items) + 4.18vw); /* this is as it's in table so not blurred - and it's height of table header */


    /* body */
    --body-padding: 0;


    /* outer container div */
    --outer-container-div-padding-horizontal: 0;
    --outer-container-div-padding-bottom: 2.43vw;


    /* loading and no data div */
    --loading-and-no-data-div-padding: 1.94vw;
    --loading-and-no-data-div-font-size: 1.36vw;
    --loading-and-no-data-div-aspect-ratio: 4;
    --loading-aspect-ratio: 3;

    /* neon part */
    --neon-pulse-width-and-height: 6.32vw;
    --neon-pulse-perspective: 58.28vw;
    --neon-bar-width: 0.73vw;
    --neon-bar-height: 3.40vw;
    --neon-bar-box-shadow: 0.00vw 0.00vw 0.48vw rgba(255, 0, 198, 0.8); 
    --loading-text-margin-top: 3.40vw;





    /* filter panel container and above columns */
    --gap-between-filters-horizontal-and-vertical: 0.97vw;
    --padding-main-containers: 1.22vw;

    --larger-border-radius-above-columns-panel: 2.43vw;



    /* filter stuff */

    --border-radius-filter-inputs: 0.29vw;
    --height-filter-inputs: 2.04vw;
    --padding-left-filter-inputs: 0.48vw;
    --padding-left-filter-inputs-select-boxes-arrow: 1.22vw; /* this is the text from the arrow for list filter items */
    --font-size-currency-box: 1.16vw;
    --font-size-multiplier-for-percentage: 0.85;
    --max-height-dropdown-options: 14.57vw;
    --padding-dropdown-options: 0.48vw 0.68vw;
    --padding-left-dropdown-options-label: 0.14vw;
    --margin-right-checkbox: 0.34vw;
    --smaller-font-size-filter-label-and-filter-delete-buttons: 0.58vw;
    --height-of-filter-label: 0.68vw;
    --margin-left-and-bottom-filter-label: 0.24vw;
    --width-currency-box: 1.46vw;



    /* selecting filter section specifically now */
    --padding-filter-delete-buttons: 0.20vw 0.48vw;
    --border-radius-filter-delete-buttons: 0.20vw;


    /* above columns */ 

    --padding-left-right-above-columns: 1.46vw;
    --gap-between-above-column-rows: 0.24vw;
    --width-buttons-above-columns: 12.14vw;
    --width-filter-details-above-columns: 13.60vw;

    

    /* above columns items stuff */
    --margin-right-confirm-filter-name: 0.97vw;
    --refresh-results-margin-against-timer: 0.73vw;
    --width-height-cancel-making-filter-svg: 1.22vw;
    --width-height-button-images: 1.22vw;
    --margin-left-refresh-results-img: 0.48vw;
    --border-radius-switch-slider: 2.43vw; /* Round borders for the slider - think could be 100 */


    /* pagination */
    --padding-pagination-container: 0.68vw 0.00vw;
    --width-pagination-button: 3.88vw;
    --padding-pagination-button: 0.00vw 0.88vw;
    --font-size-pagination: 0.68vw;


    /* covering filter box */
    --covering-filter-box-inset: -0.05vw;
    --height-width-covering-filter-box-padlock: 5.83vw;
    

    /* upgrade div box */   
    --padding-outer-div-upgrade: 0.73vw;


    /* upgrade button in upgrade div */
    --upgrade-button-border-radius: 0.73vw;
    --padding-upgrade-button: 0.63vw 2.18vw;
    --font-size-upgrade-button: 1.07vw;
    --width-height-padlock-image-in-button: 1.46vw;
    --margin-left-padlock-image-in-button: 0.73vw;






    /* table stuff ( this is where the mobile part was ) */
    --table-header-and-data-items-padding-top-and-bottom: 0.58vw;
    --table-header-and-data-items-padding-sides: 0.78vw;
    --padding-bottom-header-with-sorting: calc(var(--table-header-and-data-items-padding-top-and-bottom) / 2);
    --margin-top-sort-by: var(--padding-bottom-header-with-sorting);
    --font-size-header: 0.78vw;
    --width-sort-by: 1.16vw;

    /* table body */
    --table-data-first-background-colour: #222;
    --table-data-second-background-colour: #1e1e1e;
    --table-data-hover-colour: #333;
    --font-size-data: 0.68vw;

    /* line height for date and time data */
    --line-height-for-date-and-time-data: 1.4;

    /* expected profit header */
    --min-width-container-in-expected-profit-header: 8.74vw; /* this is important so the expected profit header is 2 lines */

    /* each way back bet */
    --min-width-each-way-back-bet: 14.08vw;

    /* ROW HEIGHT IS SET BY THE EXPECTED PROFIT DATA HEIGHT */
    --row-height-set-by-expected-profit-data: 3.16vw;

    /* height for odds and bookmaker images */
    --height-odds-and-bookmaker-images: calc(var(--row-height-set-by-expected-profit-data) / 2);

    /* background colours for positive and negative profit data */
    --background-colour-for-positive-profit-data: linear-gradient( 145deg, rgba(0,171,0,0.5), rgba(39,212,39,0.15)); /* A green to light green gradient at 50% opacity */
    --background-colour-for-negative-profit-data: linear-gradient( 145deg, rgba(228,0,0,0.5), rgba(236,71,71,0.15)); /* A red to orange gradient at 50% opacity */

    /* max width for outcome value in dutching matcher */
    --max-width-outcome-value-dutching-matcher: 2.92vw;






    /* odds and bookmaker */
    --width-odds-and-bookmaker: 11.90vw;
    --padding-left-and-right-odds-and-bookmaker: 0.48vw;

    --min-width-odds-button: 2.67vw;

    /* at symbol */
    --font-size-at-symbol: 0.78vw;





    /* select buttons */
    --width-height-select-button: 1.70vw;
    --margin-left-select-button: 0.48vw;
    --select-button-background-colour: #ff00c6;
    --font-size-select-button: 1.07vw;
    --select-button-background-colour-hover: #ff33d1;






    /* pagintion */

    --margin-between-pagination-buttons-and-pages: 4.86vw;








}


.outcome_data, .fixture_data {
    padding-bottom: 0;
    padding-top: 0;
}

#outer-container-div {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}