
@import url('../main/styles.css');





#outer-container-div {

    /* width odds and bookmaker */
    --width-odds-and-bookmaker: 13.57vw;

    /* height for odds and bookmaker images */
    --height-odds-and-bookmaker-images: calc(var(--row-height-set-by-expected-profit-data) / 2.6);

    /* padding around bookmaker images and odds */ 
    --padding-left-and-right-odds-and-bookmaker: 0.36vw;

    /* padding around odds anchor */
    --min-width-odds-button: 3.43vw;


    /* new width for each way back bet */
    --min-width-each-way-back-bet: 18.93vw;


    /* padding around expected profit extra place */
    --padding-left-and-right-for-expected-profit-extra-place: 0.14vw;



    --width-odds-and-bookmaker: 20vw;

    --min-width-odds-button: 5vw;
    --height-odds-and-bookmaker-images: 2.5vw;


}

/* this is for dutching with less than 3 bets */ 
td.hide_data > * {
    display: none;
}

#expected_profit_header {
    padding-left: var(--padding-left-and-right-for-expected-profit-extra-place);
    padding-right: var(--padding-left-and-right-for-expected-profit-extra-place);
}

.outcome_data, .fixture_data {
    padding-bottom: 0;
    padding-top: 0;
}

#outcome_header {
    text-align: center !important;
}

.total_lay_odds_header {
    min-width: 100px !important;
}
.no_padding_margin {
    text-align: center !important;
    font-weight: bold;
}

.fixture_data {
    padding: 10px !important;
    line-height: 1.8 !important;
    padding-left: 20px !important;
}

th {
    font-size: 14px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

td {
    font-size: 12px !important;
}

.expected_profit_data div {
    background: none !important;
}

.lay_odds_value {
    max-width: var(--min-width-odds-button) !important;
}

div.lay_odds_value {
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    margin: auto !important;
}