@import url('../../desktop_oddsmatchers/main/styles.css');





.calculator-container-div {

    --width-calculator-container: 90%;


    --padding-calculator-gaps: 2vw;

    --padding-left-right-refresh-button: 3.5vw;




    --width-filter-items-calculator: 15vw;


}



.calculator-container-div, .refresh-button-div {
    display: flex;
}

.calculator-container-div {
    background: var(--global-main-background-colour);
    width: var(--width-calculator-container);
    border: var(--global-border-main);
    border-radius: var(--larger-border-radius-above-columns-panel);
    padding: calc(var(--padding-calculator-gaps) * 1.25);
    padding-top: var(--padding-calculator-gaps);
    gap: calc(var(--padding-calculator-gaps) * 1.75);
    flex-direction: column;
}

.refresh-button-div {
    width: 100%;
}

.refresh-button {
    width: auto;
    padding-left: var(--padding-left-right-refresh-button);
    padding-right: var(--padding-left-right-refresh-button);
    margin: auto;
}



.input-section-div {
    display: flex;
    flex-direction: row;
    gap: calc(var(--padding-calculator-gaps) * 2);

}

.calc-input-div-standard, .calculator-bet-info-section-div {
    display: flex;
    flex-direction: row;
    gap: var(--padding-calculator-gaps);
}

.back-input-div, .lay-input-div {
    width: calc(25% - var(--padding-calculator-gaps));
}

.free_bet_mode_control {
    margin-top: calc(var(--height-filter-inputs) / 1.8);
    align-self: flex-start;
}

.bet_type_control {
    display: flex;
    margin-top: auto;
    justify-self: flex-end;
    align-self: flex-start;
}

.control-input-div {
    display: flex;
    align-items: center;
}


.control-div-bet-calculator-div {
    justify-content: center;
}





.bottom_div_calculator_container {
    display: flex;
    flex-direction: row;
}

.info-and-profit-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-calculator-gaps);
    width: 100%;
}




.upper-logging-div, .middle-logging-div {
    display: flex;
    flex-direction: row;
    gap: calc(var(--padding-calculator-gaps) * 2);
    width: 100%;
}

.middle-logging-div {
    flex-direction: column;
    gap: 0;
    gap: var(--padding-calculator-gaps);

}

.filter-item-profit-tracker {
    width: 25%;
}

.description-and-profit-section-inner-top-item {
    gap: calc(var(--padding-calculator-gaps) * 2);

}

.filter-item-description {
    width: 100%;
    min-width: calc((var(--width-filter-items-calculator) * 2) + (2 * var(--padding-calculator-gaps)) + var(--width-of-bar-on-left-of-bet-item));
    max-width: calc((var(--width-filter-items-calculator) * 2) + (2 * var(--padding-calculator-gaps)) + var(--width-of-bar-on-left-of-bet-item));
}


.top-div-info-and-profit {
    padding-top: calc(var(--height-filter-inputs) / 1.75);
}

.select_bet_text_div span {
    font-size: var(--profit-item-title-font-size);
    text-align: left;
}

.profit_and_log__item_title {
    text-align: center;
    font-size: calc(var(--profit-item-title-font-size) * 0.85);
}

.profit_and_log__item_value {
    font-size: calc(var(--profit-item-value-font-size) * 0.9);
}

.bottom-div-info-and-profit {
    display: flex;
    justify-self: flex-end;
    align-items: flex-end;
    height: 100%;
}


.lay_bet_info_div {
    margin: 0;
    justify-content: flex-start;
    display: flex;
    text-align: left;
    align-items: flex-end;
}

.select_bet_text_div_text {
    height: var(--height-filter-inputs);
    line-height: var(--height-filter-inputs);
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 0.5vw;
}



.div-in-bottom-div-info-and-profit {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.profit_display_div_calculator {
    justify-content: space-between;
    width: auto;
    gap: calc(var(--padding-calculator-gaps) * 1);
    width: 100%;

}

.log-bet-button-div {
    align-self: flex-end;
    justify-self: flex-end;
    margin-left: 0;
    margin-right: 0;
}







.calculator-bet-info-section-div .filter-item {
    max-width: var(--width-filter-items-calculator);
    min-width: var(--width-filter-items-calculator);
}


.input-section-div-outer {
    gap: calc(var(--padding-calculator-gaps) * 1);
    flex-direction: column;
}

.place_lay_fraction_input:before {
    content: '1/';
    font-size: var(--font-size-filter-inputs);
}

.div_outside_bar_on_left_of_item {
    display: flex;
    align-items: flex-end;
}

.bar_on_left_of_item {
    height: var(--height-filter-inputs);
    margin-top: auto;
    border-radius: var(--border-radius-filter-inputs);
}