/*
@import url('https://betterbetgroup.github.io/mobile_oddsmatch/list_pages/main/styles.css');


*/

@import url('../main/styles.css');



.loading {
    background: 0;
}





.item_container_div {
    display: grid;
    padding: 20px; /* Adds padding inside the grid */
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
    grid-template-columns: repeat(auto-fit, 400px); /* Creates columns of fixed 400px width */
    justify-content: space-evenly; /* Centers the grid items when they do not fill the entire row */
    width: var(--global-container-width);
}

.container_div_around_each_item {
    width: 400px;
    height: 400px; /* Set the size of each box */
    display: flex; /* Enables flexbox within the div */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
}


.table_data_row, .premium_div_box {
    border: 1px solid #121212;
    background-color: #080808;
    margin: 0;
    height: 400px;
    width: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.premium_div_box {
    position: absolute;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.98);
    z-index: 1000;
}



























.settled_checkbox {
    width: 55px;   /* Specify your desired width */
    height: 55px;  /* Specify your desired height */
    -webkit-appearance: none;  /* Remove default styles */
    -moz-appearance: none;     /* Remove default styles */
    appearance: none;          /* Remove default styles */
    background-color: white;   /* Add custom background */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions for background and border */
    display: inline-block; /* Correct alignment issues */
    position: relative; /* Positioning context for pseudo-elements */
    margin: 0;
    background-repeat: no-repeat; /* Prevents background from repeating */
    background-position: center; /* Centers the background image */
    background-size: 35px;
    border-radius: 0px;
}

div.expected_profit_data {
    height: 55px;
}

.profit_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    flex-grow: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



.actual_profit_headers {
    font-size: 12px;
    flex: 1;  /* Allows the elements to grow and take up equal space */
    text-align: center; /* Centers the text inside each span */
}

.settled_actual_profit {
    font-size: 12px;
    flex: 0 0 55px; 

}

.tick_svg {
    margin-right: -2px;
    margin-bottom: -1px;
}


.bookmaker_img, .exchange_img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle but more pronounced shadow */
    transition: all 0.3s ease;
    

}

.mobile_title_div {
    font-size: 14px;
    background: linear-gradient( 145deg, #000000, #000000); 
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    border-top: 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    
}



.offer_info_header {
    font-size: 14px;
    width: 100px;
}

.offer_info_data {
    font-size: 16px;
}


.div_around_bookmaker_and_exchange_title, .div_for_offer_info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.div_for_offer_info {
    height: 50px;
    font-size: 18px;    
    line-height: 50px;
    border-top: 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background: #111; 
    border-bottom: 1px solid #121212;
    border-top: 1px solid #121212;
}

.promo_info {
    width: 100px;
}

.odds_info_data_odds {
    width: 100px;
}

.profit_data_span {
    width: 100px;
    font-weight: bold;
    color: #0ce305;
    font-size: 20px;
}






.top_title_div {
    border-top: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    line-height: 20px;
    text-align: center;
    padding: 0;
}

.description_content_div {
    height: 50px;
    line-height: 50px;
    border-top: 0;
    background: #111; 
    text-align: left;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #121212;
    border-top: 1px solid #121212;

}


.anchor_round_exchange, .anchor_round_bookmaker {
        display: flex;             
        align-items: center;       
        justify-content: center;   
        text-align: center;
}



.div_around_bookmaker_exhange_images{
    display: flex;
    align-items: center;       
    justify-content: center;   
    text-align: center;
    justify-content: space-evenly;
    border-top: 0;
    border-bottom: 1px solid #121212;

}





.date_div_mobile {
    height: 25px;
    background: #021a46; 
    align-content: center;
    border-top: 0;
    text-align: center;
    padding: 0;

}




.container_div {
    margin: 0;
}

.bookmaker_and_exchange {
    width: 120px;
    font-size: 12px;
}







.actualprofit_div_mobile_posotive, .actualprofit_div_mobile_negative, .potentialprofit_div_mobile, .qloss_div_mobile {
    width: 100%;   
    align-content: center; 
    font-size: 12px;
}


.actualprofit_div_mobile_posotive {
    background: linear-gradient( 145deg, #00ab00, #27d427); 
    border-bottom-right-radius: 10px;
}

.actualprofit_div_mobile_negative {
    background: linear-gradient( 145deg, #e40000, #ec4747); 
    border-bottom-right-radius: 10px;
}


.potentialprofit_div_mobile {
    background: linear-gradient( 145deg, #00ab00, #27d427); 
}

.qloss_div_mobile {
    background: linear-gradient( 145deg, #e40000, #ec4747); 
    border-bottom-left-radius: 10px;
}

.above_profit_values {
    height: 40px;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0;
}

.div_for_buttons, .div_for_offer_and_guide {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div_for_offer_and_guide {
    height: 70px;
}

.item_button {

    width: 170px;
    background: blue;
    height: 40px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}

.offer_button {
    background: linear-gradient( 145deg, #b1018b, #f649d6); /* Brighter hover state */
}

.guide_button {
    background: linear-gradient( 145deg, #040b8b, #1841bc); 
}


.div_for_available {
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-direction: column;
    padding-bottom: 8px;
}

.span_next_to_switch {
    color: white;
    font-size: 24px;
    font-weight: bold;
    align-content: center;
    margin-top: -6px;

}

.span_slash_between_settled {
    font-size: 12px;
}







.filter-column {
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding: 2px 5px;
    
    align-items: center;
    justify-items: center;
    align-content: center;
}


.datefiltercolumn {
    flex-grow: 1.5;
}
