@import url('../main/styles.css');


@media screen and (min-width: 700px) {  

    .calculator-container-div {
        --width-filter-items-calculator: 14.35vw;

        --bonus-controls-items-gap: 2.5vw;

    }


    .setting-mode-bonus-div {
        display: flex; 
        flex-direction: row;
        align-items: center;
    }


    .bonus-mode-control-container {
        --width-of-lay-bet-type-btn: 7.5vw;

        --padding-for-buttons-bonus-mode: 0.75vw;
    }

    .bonus-mode-control-container button:nth-child(2) {
        padding-right: var(--padding-for-buttons-bonus-mode);
    }
    .bonus-mode-control-container button:nth-child(1) {
        padding-left: var(--padding-for-buttons-bonus-mode);
    }

    .setting-mode-bonus-div {
        gap: calc(var(--padding-calculator-gaps) * 0.75);
    }


    .bonus-select-controls-item {
        gap: var(--bonus-controls-items-gap);
        padding: 1vw 0;
    }

    .trigger-filter-item {
        min-width: calc((var(--width-filter-items-calculator) * 2) + var(--padding-calculator-gaps)) !important;
        max-width: calc((var(--width-filter-items-calculator) * 2) + var(--padding-calculator-gaps)) !important;
    }

    .if-div-calculator-div {
        align-items: flex-end;
    }

    .if-div-calculator-div span {
        height: var(--height-filter-inputs);
        font-size: calc(var(--profit-item-title-font-size) * 1.25);
        width: var(--height-filter-inputs);
        text-align: center;
    }

}

@media screen and (max-width: 699px) {  


    .calculator-container-div {
        --width-filter-items-calculator: 100%;

    }

    .dutching-select-controls-item, .sequential-lay-select-controls-item {
        gap: calc(var(--padding-calculator-gaps) * 1.25);
    }


    .setting-mode-bonus-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(var(--padding-calculator-gaps) * 0.75);
    }

    .bonus-mode-control-container .bet-type-btn {
        width: calc(var(--width-of-lay-bet-type-btn) * 2);
    }

    .free-bet-mode-input-dutching-select {
        justify-content: center;
    }



    .if-div-calculator-div {
        display: flex;
        flex-direction: row !important;
        align-items: flex-end;
    }

    .trigger-filter-item {
        min-width: auto !important;
        max-width: auto !important;
    }

    .if-div-calculator-div span {
        height: var(--height-filter-inputs);
        font-size: calc(var(--profit-item-title-font-size) * 1.5);
        width: var(--height-filter-inputs);
        text-align: center;
    }


}